.labubu {
width: 500px;
height: 150px;
display: block;
padding: 40px 20px 20px 20px;
margin: auto;
}

.jerryru {
display: flex; 
justify-content: center;  
padding: 20px;
margin:40px;
}

.subscription {
  opacity: 0.2;
}

.subscription:hover {
  opacity: 1;
  color: #059115;
 font-size: 24px;
}

header p{
padding: 20px;
margin:20px ;
}

.logo {
  border-radius: 50%;
  width:100px;
  height: 100px;
  }

  .vav {
 width: 850px;
  height: 220px; 
 display: block;
  margin: auto;
    padding: 20px;
  }

.gallery1 {
display: flex; 
justify-content: space-around;
height: 200px;
object-fit: cover; 
margin: 40px 10px 10px 10px;
padding:20px;
}

.gallery2 {
display: flex; 
justify-content: space-around;
margin: 10px 10px 40px 10px;
padding:20px;
}

.favorite {
  position: relative;
  display: inline-block;
  width: 200px;         
  height: 200px;
}

.icon {
  position: absolute;
  top: 10px;             
  left: 10px;           
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

p {
 float:left ;
 padding:20px;
 font-size: 20px;
}

table {
font-family: Sans-Serif;
font-size: 18px;
border: 1px solid; 
border-collapse: collapse;
text-align: left;
width: 600px; 
margin: auto;
}

th {
background: #9ab39d;
border: 1px solid;
border-collapse: collapse;
text-align: center;
padding: 20px;
}

td {
background: #c0d9ba;
padding: 10px;
border-style: solid;
border-width: 0 1px 1px 0;
}


footer{
margin: 40px; 
font-size: 18px;
}

footer a:hover {
  background-color: yellow;
  color:#b00d0d
